{% extends 'base.html' %}
{% block title %}Registro{% endblock %}
{% block content %}
<h2 class="text-center mb-4">Registro</h2>
<form method="post" class="w-50 mx-auto">
    <input name="nombre" placeholder="Nombre" class="form-control mb-3" required>
    <input name="direccion" placeholder="Dirección" class="form-control mb-3" required>
    <input name="dinero" placeholder="Dinero Inicial" type="number" class="form-control mb-3" required>
    <div class="mb-3">
    <label class="form-label">Tipo de Usuario</label>
    <select name="rol" class="form-control" required>
        <option value="cliente">Cliente</option>
        <option value="vendedor">Vendedor</option>
    </select>
    </div>
    <button class="btn btn-success w-100">Registrarse</button>
</form>
{% endblock %}
